.appointment{
    padding: 0px 90px;
    height: 480px;  
    background-color:  rgba(0, 238  , 255, .24);
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-bottom: 20px;
}

.reg{
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 100%;
    form{
        gap: 24px;
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    
    input, select{
        height: 24px;
        width: 60%;
        font-size: 18px;
        text-align: center;
        border-color: black;
        margin: 0% 20%;
    }
    
    button{
        width: 33%;
        height: 42px;
        background-color: white;
        font-size: 21px; 
        margin: 0% 33%;   
        transition: 300ms;
        transition-delay: 50ms;
    }

}
  
button:hover{
    cursor: pointer;
    background-color: rgba(0, 238  , 255, .15);
    font-size: 23px;
}

@media(max-width: 1200px){
    .reg input{
        width: 75%;
        margin: 0% 13%;
    }
    .reg select{
        width: 75%;
        margin: 0% 13%;
    }
}

@media(max-width: 992px){
    .reg input{
        width: 85%;
        margin: 0% 6%;
    }
    .reg select{
        width: 85%;
        margin: 0% 6%;
    }
}

@media(max-width: 768px){
    .reg input{
        width: 95%;
        margin: 0% 2%;
    }
    .reg select{
        width: 95%;
        margin: 0% 2%;
    }
    .reg button{
        width: 60%;
        margin: 0% 20%;
    }
}

