.container {
  max-width: 1920px;
  align-items: center;
  vertical-align: middle;
  gap: 30px;
}

::placeholder {
  color: black;
}

form{
  gap: 24px;
  display: flex;
  flex-direction: column;
  width: 70%;
}

input, select{
  height: 24px;
  width: 60%;
  font-size: 18px;
  text-align: center;
  border-color: black;
}

button{
  width: 240px;
  height: 42px;
  background-color: white;
  margin: 0px 160px;
  font-size: 21px;    
}

h1{
  font-size: 33px;
}

h3{
  font-size: 26px;
  font-weight: 500;
}

h4{
  font-size: 22px;
  font-weight: 500;
}


@media(max-width: 768px){
  h1{
    font-size: 26px;
  }
  h2{
      font-size: 18px;
  }
}
